@import './../../../../styles.scss';

.outline-button {
  border: none;
  border-radius: 99px;
  padding: 10px 20px;

  &.primary {
    color: $primary-color;
    background-color: $white;
    border: 1px solid $primary-color;

    &:disabled {
      color: $disabled-text;
      background-color: $white;
      border: 1px solid $disabled-background;
    }

    &:hover {
      &:not(:disabled) {
        background-color: $primary-hover-color;
        transition: background-color cubic-bezier(0.77, 0, 0.175, 1);
      }
    }

    &:active {
      &:not(:disabled) {
        background-color: $primary-active-color;
        transition: background-color 0.5s all 3s;
      }
    }
  }

  &.secondary {
    color: $secondary-color;
    background-color: $white;
    border: 1px solid $secondary-color;

    &:disabled {
      color: $disabled-text;
      background-color: $white;
      border: 1px solid $disabled-background;
    }

    &:hover {
      &:not(:disabled) {
        background-color: $secondary-hover-color;
        transition: background-color cubic-bezier(0.77, 0, 0.175, 1);
      }
    }

    &:active {
      &:not(:disabled) {
        background-color: $secondary-active-color;
        transition: background-color 0.5s all 3s;
      }
    }
  }

  &.tertiary {
    color: $tertiary-color;
    background-color: $white;
    border: 1px solid $tertiary-color;

    &:disabled {
      color: $disabled-text;
      background-color: $white;
      border: 1px solid $disabled-background;
    }

    &:hover {
      &:not(:disabled) {
        background-color: $tertiary-hover-color;
        transition: background-color cubic-bezier(0.77, 0, 0.175, 1);
      }
    }

    &:active {
      &:not(:disabled) {
        background-color: $tertiary-active-color;
        transition: background-color 0.5s all 3s;
      }
    }
  }

  &.success {
    color: $success-color;
    background-color: $white;
    border: 1px solid $success-color;

    &:disabled {
      color: $disabled-text;
      background-color: $white;
      border: 1px solid $disabled-background;
    }

    &:hover {
      &:not(:disabled) {
        background-color: $success-hover-color;
        transition: background-color cubic-bezier(0.77, 0, 0.175, 1);
      }
    }

    &:active {
      &:not(:disabled) {
        background-color: $success-active-color;
        transition: background-color 0.5s all 3s;
      }
    }
  }

  &.error {
    color: $error-color;
    background-color: $white;
    border: 1px solid $error-color;

    &:disabled {
      color: $disabled-text;
      background-color: $white;
      border: 1px solid $disabled-background;
    }

    &:hover {
      &:not(:disabled) {
        background-color: $error-hover-color;
        transition: background-color cubic-bezier(0.77, 0, 0.175, 1);
      }
    }

    &:active {
      &:not(:disabled) {
        background-color: $error-active-color;
        transition: background-color 0.5s all 3s;
      }
    }
  }
}
