<section class="d-flex flex-column">
  <h6>Basic Button</h6>
  <div class="d-flex flex-row">
    <tds-button
      TDSBasicButton
      label="Login"
      color="primary"
      iconColor="primary"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSBasicButton
      label="Login"
      icon="person"
      iconPosition="after"
      color="secondary"
      iconColor="secondary"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSBasicButton
      label="Login"
      icon="person"
      iconPosition="before"
      color="tertiary"
      iconColor="tertiary"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSBasicButton
      label="Login"
      color="success"
      iconColor="success"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSBasicButton
      label="Login"
      color="error"
      iconColor="error"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button TDSBasicButton label="Login" [disabled]="true" class="mx-2" (clickEvent)="test()"> </tds-button>
  </div>
</section>
<hr />

<section class="d-flex flex-column">
  <h6>Flat Button</h6>
  <div class="d-flex flex-row">
    <tds-button TDSFlatButton label="Login" color="primary" [disabled]="false" class="mx-2" (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSFlatButton
      label="Login"
      icon="person"
      iconPosition="after"
      color="secondary"
      iconColor="white"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSFlatButton
      label="Login"
      icon="person"
      iconPosition="before"
      color="tertiary"
      iconColor="white"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSFlatButton
      label="Login"
      color="success"
      iconColor="success"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSFlatButton
      label="Login"
      color="error"
      iconColor="error"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button TDSFlatButton label="Login" [disabled]="true" class="mx-2" (clickEvent)="test()"> </tds-button>
  </div>
</section>
<hr />

<section class="d-flex flex-column">
  <h6>Outlined Button</h6>
  <div class="d-flex flex-row">
    <tds-button TDSOutlineButton label="Login" color="primary" [disabled]="false" class="mx-2" (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSOutlineButton
      label="Login"
      icon="person"
      iconPosition="after"
      color="secondary"
      iconColor="secondary"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSOutlineButton
      label="Login"
      icon="person"
      iconPosition="before"
      color="tertiary"
      iconColor="tertiary"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSOutlineButton
      label="Login"
      color="success"
      iconColor="success"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button
      TDSOutlineButton
      label="Login"
      color="error"
      iconColor="error"
      [disabled]="false"
      class="mx-2"
      (clickEvent)="test()">
    </tds-button>
    <tds-button TDSOutlineButton label="Login" [disabled]="true" class="mx-2" (clickEvent)="test()"> </tds-button>
  </div>
</section>
<hr />

<section class="d-flex flex-column">
  <h6>Fab Button</h6>
  <div class="d-flex flex-row">
    <tds-button TDSFabButton icon="person" color="primary" [disabled]="false" class="mx-2" (clickEvent)="test()">
    </tds-button>
    <tds-button TDSFabButton icon="person" color="secondary" [disabled]="false" class="mx-2" (clickEvent)="test()">
    </tds-button>
    <tds-button TDSFabButton icon="person" color="tertiary" [disabled]="false" class="mx-2" (clickEvent)="test()">
    </tds-button>
    <tds-button TDSFabButton color="success" icon="person" [disabled]="false" class="mx-2" (clickEvent)="test()">
    </tds-button>
    <tds-button TDSFabButton color="error" icon="person" [disabled]="false" class="mx-2" (clickEvent)="test()">
    </tds-button>
    <tds-button TDSFabButton color="primary" icon="person" [disabled]="true" class="mx-2" (clickEvent)="test()">
    </tds-button>
  </div>
</section>
<hr />
