<div>
  <tds-snackbar></tds-snackbar>
  <tds-button
    TDSBasicButton
    color="secondary"
    [disabled]="false"
    label="Open Error Snackbar"
    class="mx-2"
    (clickEvent)="openErrorSnackbar()">
  </tds-button>
  <tds-button
    TDSBasicButton
    color="secondary"
    label="Open Info Snackbar"
    [disabled]="false"
    class="mx-2"
    (clickEvent)="openInfoSnackbar()">
  </tds-button>
  <tds-button
    TDSBasicButton
    color="secondary"
    label="Open Success Snackbar"
    [disabled]="false"
    class="mx-2"
    (clickEvent)="openSuccessSnackbar()">
  </tds-button>
  <tds-button
    TDSBasicButton
    color="secondary"
    label="Open Warning Snackbar"
    [disabled]="false"
    class="mx-2"
    (clickEvent)="openWarningSnackbar()">
  </tds-button>
</div>
