<main class="d-flex flex-row">
  <section class="d-flex flex-column w-50 mx-2">
    <h5>Material Library Icon</h5>
    <div class="d-flex flex-column">
      <h6>Icon small</h6>
      <div class="d-flex flex-row">
        <app-icon iconLibrary="material" iconName="person" color="primary" iconSize="small"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="secondary" iconSize="small"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="tertiary" iconSize="small"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="success" iconSize="small"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="error" iconSize="small"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="default" iconSize="small"></app-icon>
      </div>
    </div>
    <hr />

    <div class="d-flex flex-column">
      <h6>Icon medium</h6>
      <div class="d-flex flex-row">
        <app-icon iconLibrary="material" iconName="person" color="primary" iconSize="medium"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="secondary" iconSize="medium"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="tertiary" iconSize="medium"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="success" iconSize="medium"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="error" iconSize="medium"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="default" iconSize="medium"></app-icon>
      </div>
    </div>
    <hr />

    <div class="d-flex flex-column">
      <h6>Icon large</h6>
      <div class="d-flex flex-row">
        <app-icon iconLibrary="material" iconName="person" color="primary" iconSize="large"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="secondary" iconSize="large"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="tertiary" iconSize="large"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="success" iconSize="large"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="error" iconSize="large"></app-icon>
        <app-icon iconLibrary="material" iconName="person" color="default" iconSize="large"></app-icon>
      </div>
    </div>
    <hr />
  </section>

  <section class="d-flex flex-column w-50 mx-2">
    <h5>Font Awesome Library Icon</h5>
    <div class="d-flex flex-column">
      <h6>Icon small</h6>
      <div class="d-flex flex-row">
        <app-icon iconLibrary="font-awesome" iconName="person" color="primary" iconSize="small"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="secondary" iconSize="small"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="tertiary" iconSize="small"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="success" iconSize="small"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="error" iconSize="small"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="default" iconSize="small"></app-icon>
      </div>
    </div>
    <hr />

    <div class="d-flex flex-column">
      <h6>Icon medium</h6>
      <div class="d-flex flex-row">
        <app-icon iconLibrary="font-awesome" iconName="person" color="primary" iconSize="medium"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="secondary" iconSize="medium"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="tertiary" iconSize="medium"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="success" iconSize="medium"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="error" iconSize="medium"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="default" iconSize="medium"></app-icon>
      </div>
    </div>
    <hr />

    <div class="d-flex flex-column">
      <h6>Icon large</h6>
      <div class="d-flex flex-row">
        <app-icon iconLibrary="font-awesome" iconName="person" color="primary" iconSize="large"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="secondary" iconSize="large"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="tertiary" iconSize="large"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="success" iconSize="large"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="error" iconSize="large"></app-icon>
        <app-icon iconLibrary="font-awesome" iconName="person" color="default" iconSize="large"></app-icon>
      </div>
    </div>
    <hr />
  </section>
</main>
