@import '../../../styles.scss';

.snackbar {
  position: absolute;

  &.snackbar-error {
    .card{
      background-color: $error-color;
      color: white;
    }
  }

  &.snackbar-info {
    .card{
      background-color: $secondary-color;
      color: white;
    }
  }

  &.snackbar-success {
    .card{
      background-color: $success-color;
      color: white;
    }
  }

  &.snackbar-warning {
    .card{
      background-color: $warning-color;
      color: white;
    }
  }

  &.hide {
    display: none;
  }

  &.show {
    display: block;
  }

  &.horizontal-start {
    left: 2%;
  }

  &.horizontal-end {
    right: 2%;
  }

  &.horizontal-center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.vertical-top {
    top: 2%;
  }

  &.vertical-bottom {
    bottom: 2%;
  }
}
