<section class="snackbar hide" [ngClass]="snackbarData.customClass">
  <div class="card shadow rounded-pill">
    <div class="d-flex flex-row align-items-center rounded-pill py-2 px-4">
      @if (snackbarData.iconName && snackbarData.iconPosition === 'before') {
        <i class="material-symbols-outlined button-icon-before me-2">{{ snackbarData.iconName }}</i>
      }
      <p class="m-0">{{ snackbarData.message }}</p>
      @if (snackbarData.iconName && snackbarData.iconPosition === 'after') {
        <i class="material-symbols-outlined button-icon-after ms-2">{{ snackbarData.iconName }}</i>
      }
    </div>
  </div>
</section>
