<main class="container d-flex flex-column justify-content-center vh-100">
  <section class="d-flex flex-row justify-content-center">
    <tds-card class="shadow">
      <div card-content>
        <form [formGroup]="loginForm" (submit)="onSubmit()">
          <tds-formfield-text
            label="Username"
            labelPosition="before"
            [controlName]="usernameControl"></tds-formfield-text>
          <tds-formfield-password label="Password" labelPosition="before" [controlName]="passwordControl">
          </tds-formfield-password>

          <div class="d-flex flex-row justify-content-end mt-3">
            <tds-button
              flatButton
              label="Login"
              color="primary"
              [disabled]="false"
              class="mx-2"
              (clickEvent)="login()"></tds-button>
            <tds-button
              outlineButton
              label="Clear"
              color="error"
              [disabled]="false"
              class="mx-2"
              (clickEvent)="clear()"></tds-button>
          </div>
        </form>
      </div>
    </tds-card>
  </section>
</main>
