<form [formGroup]="showcaseForm" (submit)="onSubmit()">
  <div class="mb-3">
    <tds-formfield-select
      customClass="w-25"
      label="Label Above"
      labelPosition="above"
      [controlName]="foodControl"
      [optionList]="foodOptions">
    </tds-formfield-select>
  </div>
  <div class="mt-3">
    <tds-formfield-select
      customClass="w-20"
      label="Label Before"
      labelPosition="before"
      hint="Select your favorite food"
      [controlName]="foodControl"
      [optionList]="foodOptions">
    </tds-formfield-select>
  </div>
</form>

Value: {{ food }}
